@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #5941A9;
  --primary-2: #7D60CD;
  --primary-3: #A181F2;
  --red-2: #E15849;
  --red-3: #A31D1C;
  --white-2: #FCF7FF;
  --black-2: #4A4453;
  --gray-2: #AFA8BA;
  --green-2: #009E7D;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-2: var(--primary-2);
    --color-primary-3: var(--primary-3);
    --color-red-2: var(--red-2);
    --color-red-3: var(--red-3);
    --color-white-2: var(--white-2);
    --color-black-2: var(--black-2);
    --color-gray-2: var(--gray-2);
    --color-green-2: var(--green-2);
    --animate-rotate-spinner: rotate-spinner 1s linear infinite;
}

@layer base {
    body {
        @apply bg-white-2
    }
}

@layer components {
    .gradient-text {
        @apply bg-gradient-to-r from-primary to-black-2 bg-clip-text text-transparent
    }

    .heading1 {
        @apply text-2xl font-bold
    }

    .heading2 {
        @apply text-xl font-bold
    }

    .basic-form-container {
        @apply w-full max-w-[400px] mx-auto
    }
}

@layer utilities {
    .mask {
        --_m: 
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        mask-composite: subtract;
    }
}

@keyframes rotate-spinner {
    to {
        transform: rotate(1turn);
    }
}